<a class="float_left" href id="show_desktop">
    <!--<img src="resources/workspace/images/icons/icon_22_desktop.png" />-->
    <img width="80" src="resources/workspace/images/logo-bonvio_transparant.png" />
</a>
<ul id="dock">

    <li id="icon_dock_drive">
        <a href="#window_drive">
            <img src="resources/workspace/images/icons/icon_16_drive.png" />
            Hard Drive
        </a>
    </li>

</ul>
<a class="float_right" href>
    <span class="glyphicon glyphicon-time"></span> <span my-current-time="format"></span>
</a>