<a class="float_left" href id="show_desktop">
    <!--<img src="resources/workspace/images/icons/icon_22_desktop.png" />-->
    <img width="80" src="resources/workspace/images/logo-bonvio_transparant.png" />
</a>


<div id="dock" ng-repeat="i in applicationUnits">
    <ul ng-repeat="tab in i.unitActive">
        <li id="icon_dock">
            <a href ng-click="tab.isMin = !tab.isMin">
                <img width="20" ng-src="{{i.unitImgPath}}{{hash}}" />
            {{i.unitName}} - {{tab.windowTitle}}
            </a>
        </li>
    </ul>
</div>

<a class="float_right" href>
    <span class="glyphicon glyphicon-time"></span> <span my-current-time="format"></span>
</a>