<div class="main">

    <div id="content-wrapper"
         id="content"
         data-ng-controller="ContentCtrl"
         data-collapse-nav
         data-slim-scroll
         data-highlight-active>

        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div ng-view></div>

    </div>

</div>
