
<!-- itemsWs -->
<div ng-class="{'animated':true, 'fadeIn':true}">
    <div ng-repeat="i in applicationUnits">

        <a draggable class="wsUnit icon" style="float:left; left:20px;top:20px;" href ng-dblclick="toggleApplicationOpen(i.unitCode)">
            <img ng-src="{{i.unitImgPath}}{{hash}}" />
            <p>{{i.unitName}}</p>
        </a>

        <div draggable id="window_" class="abs" ng-class="(selectedIndex_$index)?'window':'window_full'" ng-show="windowShow == i.unitCode">
            <div class="abs window_inner">
                <div class="window_top">
                  <span class="float_left">
                    <img width="20" ng-src="{{i.unitImgPath}}{{hash}}" />
                    {{i.unitName}}
                  </span>
                  <span class="float_right">
                    <a href class="window_min"></a>
                    <a href class="window_resize" ng-click="selectedIndex_$index=!selectedIndex_$index"></a>
                    <a href class="window_close"></a>
                  </span>
                </div>
                <div class="abs window_content">
                    <!--<div class="window_aside">
                        Storage in use: 119.1 GB
                    </div>-->
                    <div class="window_iframe window_main_without_aside">
                        <iframe ng-src="{{applicationUrl}}"></iframe>
                    </div>
                </div>
                <div class="abs window_bottom">
                    Free: 80.9 GB
                </div>
            </div>
            <span class="abs ui-resizable-handle ui-resizable-se"></span>
        </div>


    </div>
</div>
<!-- /itemsWs -->



