<!--APP ICON BEGIN-->
<div ng-repeat="icon in applicationUnits">
	<div class="icon block"
			 icon-coord ng-model="icon"
			 ng-mouseup="iconUpdate(icon)"
			 ng-style="{ 'left': icon.unitPositionX + 'px', 'top': icon.unitPositionY + 'px'}"
			 ng-dblclick="createWindow(icon.unitId)">
		<img ng-src="{{icon.unitImgPath}}{{hash}}">
		{{icon.unitName}} x: {{icon.unitPositionX}} y: {{icon.unitPositionY}}
	</div>
</div>
<!--APP ICON END-->
<!--WINDOW BEGIN HERE-->
<!--ng-show="win.isMin == 1"-->
<section ng-click="maxZIndex = maxZIndex + 1">
	<section ng-repeat="win in windowUnits" ng-show="win.isMin == 1">
		<div win-draggable win-resizable
				 win-coord ng-model="win"
				 class="abs"
				 ng-style="{
					 'position': 'absolute',
					 'left': win.windowPositionX + 'px',
					 'top': win.windowPositionY + 'px',
					 'width': (win.windowWidth <= 200 ? 200 : win.windowWidth) + 'px',
					 'height': (win.windowHeight <= 200 ? 200 : win.windowHeight) + 'px',
					 'z-index': win.zIndex
					 }"
				 ng-mouseup="updateWindow(win)"
				 ng-class="!win.isMax ?'window single-window' : 'window_full'">
			<div class="abs window_inner">
				<!--ШАПКА BEGIN HERE-->
				<header class="window_top"
								ng-dblclick="win.isMax = win.isMax==1?0:1; updateWindow(win)">
						<span class="float_left">
							<img width="20" ng-src="{{win.ownerUnitIcon}}{{hash}}"/>
							<span ng-class="win.windowWidth <= 200 ? 'ellipsis' : ''">{{win.title}} - {{win.ownerUnitName}} -Z {{maxZIndex}} -curZ {{win.zIndex}}</span>
						</span>
						<span class="float_right">
							<a href class="window_min" ng-click="win.isMin = 0; updateWindow(win)"></a>
							<a href class="window_resize" ng-click="win.isMax = win.isMax==1?0:1; updateWindow(win)"></a>
							<a href class="window_close" ng-click="deleteWindow(win.windowId, $index)"></a>
						</span>
				</header>
				<!--ШАПКА END HERE-->
				<!--CONTENT BEGIN HERE-->
				<div class="abs window_content">
					<div class="window_iframe window_main_without_aside">
						<!--&lt;!&ndash;<div class="window_iframe" ng-include="unit.applicationUrl"></div>&ndash;&gt;-->
						<iframe ng-src="{{win.applicationUrl}}"></iframe>
						<!--&lt;!&ndash;<object class="window_iframe" data="{{unit.applicationUrl}}"></object>&ndash;&gt;-->
					</div>
					<div ng-class="maxZIndex - 1 != win.zIndex ? 'overlay' : '' "></div>
				</div>
				<!--CONTENT END HERE-->
				<!--FOOTER BEGIN HERE-->
				<div class="abs window_bottom">
					<!--&lt;!&ndash;Free: 80.9 GB {{applicationUrl}}&ndash;&gt;-->
				</div>
				<!--FOOTER END HERE-->
				<span class="abs ui-resizable-handle ui-resizable-se winResizableBlock"></span>
			</div>
		</div>
	</section>
</section>
<!--WINDOW END HERE-->
<div class="desktop-allocate"></div>





<!--
<div ng-repeat="unit in applicationUnits">
	<div class="icon block"
			 ng-init="$parentIndex = $index"
			 icon-coord ng-model="unit"
			 ng-mouseup="iconUpdate(unit)"
			 ng-style="{ 'left': unit.unitPositionX + 'px', 'top': unit.unitPositionY + 'px'}"
			 ng-dblclick="getWindow(unit, $parentIndex)">
		<img ng-src="{{unit.unitImgPath}}{{hash}}">
		{{unit.unitName}} x: {{unit.unitPositionX}} y: {{unit.unitPositionY}}
	</div>
	&lt;!&ndash;WINDOWS OF UNIT BEGIN HERE&ndash;&gt;
	<section ng-repeat="win in unit.windows" ng-show="win.isMin == 1">
		<div win-draggable win-resizable win-z-index
				 win-coord ng-model="win"
				 class="abs"
				 ng-style="{
				 'position': 'absolute',
				 'left': win.windowPositionX + 'px',
				 'top': win.windowPositionY + 'px',
				 'width': (win.windowWidth <= 200 ? 200 : win.windowWidth) + 'px',
				 'height': (win.windowHeight <= 200 ? 200 : win.windowHeight) + 'px'
				 }"
				 ng-mouseup="updateWindow(win)"
				 ng-class="!win.isMax ?'window single-window' : 'window_full'">
			<div class="abs window_inner">
				&lt;!&ndash;ШАПКА ОКНА BEGIN HERE&ndash;&gt;
				<header class="window_top"
								ng-dblclick="win.isMax = win.isMax==1?0:1; updateWindow(win)">
					<span class="float_left">
						<img width="20" ng-src="{{unit.unitImgPath}}{{hash}}"/>
						<span ng-class="win.windowWidth <= 200 ? 'ellipsis' : ''">{{win.title}} - {{unit.unitName}}</span>
					</span>
					<span class="float_right">
						<a href class="window_min" ng-click="win.isMin = 0; updateWindow(win)"></a>
						<a href class="window_resize" ng-click="win.isMax = win.isMax==1?0:1; updateWindow(win)"></a>
						<a href class="window_close" ng-click="deleteWindow($index, $parentIndex, win)"></a>
					</span>
				</header>
				&lt;!&ndash;ШАПКА ОКНА END HERE&ndash;&gt;
				&lt;!&ndash;CONTENT BEGIN HERE&ndash;&gt;
				<div class="abs window_content">
					<div class="window_iframe window_main_without_aside">
						&lt;!&ndash;<div class="window_iframe" ng-include="unit.applicationUrl"></div>&ndash;&gt;
							<iframe ng-src="{{unit.applicationUrl}}" id="{{unit.applicationUrl}}"></iframe>
						&lt;!&ndash;<object class="window_iframe" data="{{unit.applicationUrl}}"></object>&ndash;&gt;
					</div>
					<div class="overlay"></div>
				</div>
				&lt;!&ndash;CONTENT END HERE&ndash;&gt;
				&lt;!&ndash;FOOTER BEGIN HERE&ndash;&gt;
				<div class="abs window_bottom">
					&lt;!&ndash;Free: 80.9 GB {{applicationUrl}}&ndash;&gt;
				</div>
				&lt;!&ndash;FOOTER END HERE&ndash;&gt;
				<span class="abs ui-resizable-handle ui-resizable-se winResizableBlock"></span>
			</div>
		</div>
	</section>
	&lt;!&ndash;WINDOWS OF UNIT END HERE&ndash;&gt;
</div>
<div class="desktop-allocate"></div>-->
