<div id="nav-wrapper"
     id="nav"
     data-ng-controller="NavCtrl"
     data-collapse-nav
     data-slim-scroll
     data-highlight-active>

    <div class="sidebar">
        <div class="sidebar-collapse">
            <div class="sidebar-header">
                <h2>{{CurrentUserCredentials.secondName}} {{CurrentUserCredentials.firstName}}</h2>

                <h3>{{CurrentUserCredentials.userNumber}}</h3>
            </div>
            <div class="sidebar-menu">
                <ul class="nav nav-sidebar">

                    <li ng-repeat="i in CurrentUserPrivateWorkspaces">
                        <a ng-href="/CM/#/p{{i.wsId}}"><i class="fa fa-eye"></i><span class="text">{{i.wsName}}</span></a>
                    </li>
                    <li ng-repeat="i in CurrentUserAdditionWorkspaces">
                        <a ng-href="/CM/#/a{{i.wsId}}"><i class="fa fa-eye"></i><span class="text">{{i.wsName}}</span></a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="sidebar-footer">
            <ul class="sidebar-footer-menu">
                <li><a href="#/about"><i class="fa fa-cog"></i> About</a></li>
                <li><a href="logout"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
            <div class="sidebar-brand">
                <a class="navbar-brand" href="#"><img style="width: 100px;" src="resources/workspace/images/logo-bonvio_transparant.png">.net</a>
            </div>
        </div>
    </div>

</div>