<!-- start: Main Menu -->
<div class="sidebar">
    <div class="sidebar-collapse">

        <div class="sidebar-header">

            <!--<img src="assets/img/avatar.jpg">-->

            <!--<h2 data-bind="text: parentUnit.currentUserCredentials">Шишкин С.Б.</h2>-->
            <!--<h2>89045517721</h2>
            <h3>user@email.com</h3>-->

            <!--<div class="user-menu">
                <a id="sidebar-minify" href="#"><i class="fa fa-ellipsis-v"></i></a>
            </div>-->

        </div>

        <div class="sidebar-menu">
            <ul class="nav nav-sidebar">
                <li data-bind="wijaccordion: {disabled: disabled, requireOpenedPane: requireOpenedPane, selectedIndex: selectedIndex}">
                    <a href="#"><i class="fa fa-eye"></i><span class="text" data-bind="click: function() {parentUnit.openDefaultWorkspace($element)}">Мой стол</span> </a>

                </li>
                <li data-bind="visible: parentUnit.privateWsList().length > 0, foreach: parentUnit.privateWsList">
                    <a href="#"><i class="fa fa-eye"></i><span class="text" data-bind="text: $data.wsName, click: function() {
                $parent.parentUnit.openWorkspace(wsId, $element);
            }"> #000 :</span></a>

                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-footer">

        <ul class="sidebar-footer-menu">
            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
            <li><a href="logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>

        <div class="sidebar-brand">
            <!--BONVIO.NET-->
            <a class="navbar-brand" href="#"><img style="width: 100px;" src="/CM/resources/images/logo-bonvio_transparant.png"/>.net</a>
        </div>
        <!--
        <ul class="sidebar-terms">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
        </ul>
        -->
    </div>
</div>
<!-- end: Main Menu -->