<nav>
	<ul>
		<li ng-repeat="link in nav[side]">
			<a href="#" ng-click="location(side, link)">{{link.name}}</a> /&nbsp;
		</li>
	</ul>
	<ul class="folder">
		<li>
			<a href="#" class="fa fa-folder"
			   ng-click="action('create', side, file, files.length)">&nbsp Создать папку</a>
<!--				<span class="file-upload" ng-click="upload(side, files[side][0].parentId)">
					<span class="fa fa-upload"></span>
					<input type="file" class="upload">
				</span>-->
		</li>
		<!--<li>-->
			<!--<a href="#" class="fa fa-folder-open"-->
				 <!--ng-click="open('path', side, 'files/home')">&nbsp;home</a>-->
			<!--<a href="#" class="fa fa-folder-open"-->
				 <!--ng-click="open('path', side, 'files/root')">&nbsp;root</a>-->
		<!--</li>-->
	</ul>
</nav>
<section ng-contextmenu="menu($event)">
	<table>
		<thead>
		<tr>
			<th>Имя</th>
			<th>Действия</th>
			<th>Тип</th>
			<th>Размер</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td colspan="4" ng-show="files[side][0].parentId != 0">
				<a href="#" ng-click="location(side, nav[side][nav[side].length - 2])">..</a>
			</td>
		</tr>
		<tr ng-repeat="file in files[side]"
		    ng-init="editable = false; selected = false; menu = false"
				ng-show="file.name">
			<td ng-click="file.type == 'folder' ? open(side, file) : openFile(file)"
					ng-focus="editable"
					ng-model="file"
					ng-blur="editable = false"
			    contenteditable="{{editable}}" file-index="{{$index}}" file-side="{{side}}"
					content-rename
					>
				<a href="#">{{file.id}} {{file.name}}</a></td>
			<td>
				<menu>
					<span>Меню<ul>
						<li>
							<a class="fa fa-edit" href="#" ng-click="editable = true">&nbsp;Переименовать</a>
						</li>
						<li>
							<a class="fa fa-copy" href="#" ng-click="action('copy', side, file, $index)">&nbsp;Копировать</a>
						</li>
						<li>
							<a class="fa fa-cut" href="#" ng-click="action('move', side, file, $index)">&nbsp;Переместить</a>
						</li>
						<li>
							<a class="fa fa-trash" href="#" ng-click="action('delete', side, file, $index)">&ensp;Удалить</a>
						</li>
					</ul></span>
				</menu>
			</td>
			<td>{{file.type}}</td>
			<td>{{file.size}}</td>
		</tr>
		<tr>
		<td colspan="4">
			<div ng-controller="myCtrl">
				<input type="file" file-model="myFile"/>
				<button ng-click="uploadFile(side, files[side][0].parentId)">UPLOAD</button>
			</div>
		</td>
		</tr>
		</tbody>
	</table>
</section>