<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:annotation-config />

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="url" value="#{jdbc.url}" />
        <property name="driverClassName" value="#{jdbc.driverClass}" />
        <property name="username" value="#{jdbc.username}" />
        <property name="password" value="#{jdbc.password}" />
        <property name="defaultAutoCommit" value="true" />
        <property name="maxActive" value="50" />
        <property name="testOnBorrow" value="true" />
        <property name="validationQuery" value="select 1 from dual" />
        <!--<property name="characterEncoding"  value="utf8" />-->
    </bean>
	<util:properties id="jdbc" location="classpath:jdbc.properties"/>

	<bean class="com.bonvio.project2.spring.ApplicationContext"/>

</beans>
