
<!-- Шапка-->
<div class="card bgc-indigo-500">
  <div class="toolbar">
    <!-- Левое меню-->
    <div class="toolbar__left">
      <button lx-ripple="" class="btn btn--l btn--black btn--icon"><i class="mdi mdi--menu"></i></button>
    </div>
    <!-- Заголовок--><span class="toolbar__label fs-title">Группы</span>
    <!-- Правое меню-->
    <div class="toolbar__right">
      <!-- Кнопка добавления--><a lx-ripple="" href="#/create" class="btn btn--l btn--black btn--icon"><i class="mdi mdi--add"></i></a>
      <!-- Поиск-->
      <lx-search-filter closed="true"></lx-search-filter>
    </div>
  </div>
</div>
<!-- Контент-->
<div class="data-table-container">
  <table class="data-table data-table--has-primary data-table--has-secondary">
    <tr ng-repeat="item in groups" class="data-table__clickable-row">
      <td>
        <div lx-thumbnail="" thumbnail-src="{{item.groupPicturePath}}" thumbnail-width="60" thumbnail-height="60"></div>
      </td>
      <td><a href="#/view{{item.groupId}}">{{item.groupName}}</a></td>
      <td>
        <lx-dropdown position="right" from-top="">
          <button lx-ripple="" lx-dropdown-toggle="" class="btn btn--l btn--black btn--icon"><i class="mdi mdi--more-vert"></i></button>
          <lx-dropdown-menu>
            <ul>
              <li><a href="#/edit{{item.groupId}}" class="dropdown-link">Редактировать</a></li>
              <li><a ng-click="openDialog('modal', item.groupId)" class="dropdown-link tc-red-500">Удалить</a></li>
            </ul>
          </lx-dropdown-menu>
        </lx-dropdown>
      </td>
    </tr>
  </table>
</div>
<!--Модальное окошко-->
<div id="modal" lx-dialog="" class="dialog dialog--l">
  <div class="dialog__header bgc-indigo-500">
    <div class="toolbar"><strong class="toolbar__label tc-white">Загрузка</strong></div>
  </div>
  <div class="dialog__content p">
    <div>Группа будет заблокирована и удалена спустия некоторый промежуток времени, в количсетсве дней равное семи</div>
  </div>
  <div class="dialog__actions"><a lx-ripple="" lx-dialog-close="" class="btn btn--m btn--black btn--flat">Отмена</a><a lx-ripple="" lx-dialog-close="" ng-click="deleteGroup()" class="btn btn--m btn--red btn--flat">ОК</a></div>
</div>