// Шапка
div.card.bgc-indigo-500
	div.toolbar
		// Левое меню
		div.toolbar__left
			button.btn.btn--l.btn--black.btn--icon(lx-ripple="")
				i.mdi.mdi--menu
		// Заголовок
		span.toolbar__label.fs-title Группы
		// Правое меню
		div.toolbar__right
			// Кнопка добавления
			a.btn.btn--l.btn--black.btn--icon(lx-ripple="", href="#/create")
				i.mdi.mdi--add
			// Поиск
			lx-search-filter(closed="true")
// Контент
.data-table-container
	table.data-table.data-table--has-primary.data-table--has-secondary
		tr.data-table__clickable-row(ng-repeat="item in groups")
			td
				div(lx-thumbnail="" thumbnail-src="{{item.groupPicturePath}}" thumbnail-width="60" thumbnail-height="60")
			td: span {{item.groupName}}
			td
				lx-dropdown(position="right", from-top="")
					button.btn.btn--l.btn--black.btn--icon(lx-ripple="", lx-dropdown-toggle="")
						i.mdi.mdi--more-vert
					lx-dropdown-menu: ul
						li
							a.dropdown-link(href="#/edit{{item.groupId}}") Редактировать
						li
							a.dropdown-link.tc-red-500(ng-click="openDialog('modal', item.groupId)") Удалить
//Модальное окошко
div#modal.dialog.dialog--l(lx-dialog="")
	div.dialog__header.bgc-indigo-500
		div.toolbar: strong.toolbar__label.tc-white Загрузка
	div.dialog__content.p: div Группа будет заблокирована и удалена спустия некоторый промежуток времени, в количсетсве дней равное семи
	div.dialog__actions
		a.btn.btn--m.btn--black.btn--flat(lx-ripple="" lx-dialog-close="") Отмена
		a.btn.btn--m.btn--red.btn--flat(lx-ripple="" lx-dialog-close="", ng-click="deleteGroup()") ОК