
<!-- Шапка-->
<div class="card bgc-indigo-500">
  <div class="toolbar">
    <!-- Левое меню-->
    <div class="toolbar__left">
      <button lx-ripple="" class="btn btn--l btn--black btn--icon"><i class="mdi mdi--menu"></i></button>
    </div>
    <!-- Заголовок--><span class="toolbar__label fs-title">Группы</span>
    <!-- Правое меню-->
    <div class="toolbar__right">
      <!-- Кнопка добавления--><a lx-ripple="" href="#/create" class="btn btn--l btn--black btn--icon"><i class="mdi mdi--add"></i></a>
      <!-- Поиск-->
      <lx-search-filter closed="true"></lx-search-filter>
    </div>
  </div>
</div>
<!-- Контент-->
<div class="data-table-container">
  <table class="data-table data-table--bordered data-table--has-primary data-table--has-secondary">
    <tr ng-repeat="item in groups" class="data-table__clickable-row">
      <td>
        <div lx-thumbnail="" thumbnail-src="{{item.groupPicturePath}}" thumbnail-width="60" thumbnail-height="60"></div>
      </td>
      <td><a href="#/view{{item.groupId}}">{{item.groupName}}</a></td>
      <td>
        <lx-dropdown position="right" from-top="">
          <button lx-ripple="" lx-dropdown-toggle="" class="btn btn--l btn--black btn--icon"><i class="mdi mdi--more-vert"></i></button>
          <lx-dropdown-menu>
            <ul>
              <li><a href="#/edit{{item.groupId}}" class="dropdown-link">Редактировать</a></li>
              <li><a modal-window="{modalId: item.groupId, modalBtnCancel: '', modalBtnOk: 'delete', modalName: 'Удалить', modalTitle: 'Удаление',modalContent: 'Группа будет заблокирована и удалена спустия некоторый промежуток времени, в количсетсве дней равное семи!'}" class="dropdown-link tc-red-500"></a>
                <!--a.dropdown-link.tc-red-500(ng-click="openDialog('modal', item.groupId)") Удалить-->
              </li>
            </ul>
          </lx-dropdown-menu>
        </lx-dropdown>
      </td>
    </tr>
  </table>
</div>
<!--//Модальное окошко-->
<!--div#modal.dialog.dialog--l(lx-dialog="")-->
<!--	div.dialog__header.bgc-indigo-500-->
<!--		div.toolbar: strong.toolbar__label.tc-white Загрузка-->
<!--	div.dialog__content.p: div Группа будет заблокирована и удалена спустия некоторый промежуток времени, в количсетсве дней равное семи-->
<!--	div.dialog__actions-->
<!--		a.btn.btn--m.btn--black.btn--flat(lx-ripple="" lx-dialog-close="") Отмена-->
<!--		a.btn.btn--m.btn--red.btn--flat(lx-ripple="" lx-dialog-close="", ng-click="deleteGroup()") ОК-->