{{modalName}}
<div lx-dialog="" id="{{modalId}}" class="dialog dialog--l">
  <div class="dialog__header bgc-indigo-500">
    <div class="toolbar"><strong class="toolbar__label tc-white">{{modalTitle}}</strong>
      <div class="toolbar__right">
        <button lx-dialog-close="" class="btn btn--l btn--white btn--icon"><i class="mdi mdi--close"></i></button>
      </div>
    </div>
  </div>
  <div class="dialog__content p">
    <div>{{modalContent}}</div>
  </div>
  <div class="dialog__actions"><a lx-ripple="" lx-dialog-close="" ng-click="actionModal(modalBtnCancel, modalId)" class="btn btn--m btn--black btn--flat">Отмена АРБУЗ</a><a lx-ripple="" lx-dialog-close="" ng-click="actionModal(modalBtnOk, modalId)" class="btn btn--m btn--red btn--flat">ОК ТЫКВА</a></div>
</div>