{{name}}
<div id="modal" lx-dialog="" class="dialog dialog--l">
  <div class="dialog__header bgc-indigo-500">
    <div class="toolbar"><strong class="toolbar__label tc-white">{{titleModal}}</strong></div>
  </div>
  <div class="dialog__content p">
    <div>{{contentModal}}</div>
  </div>
  <div class="dialog__actions"><a lx-ripple="" lx-dialog-close="" class="btn btn--m btn--black btn--flat">Отмена АРБУЗ</a><a lx-ripple="" lx-dialog-close="" ng-click="actionModal()" class="btn btn--m btn--red btn--flat">ОК ТЫКВА</a></div>
</div>