// Шапка
div.card.bgc-indigo-500
	div.toolbar
		// Левое меню
		div.toolbar__left
			a.btn.btn--l.btn--black.btn--icon(lx-ripple="", href="#/")
				i.mdi.mdi--chevron-left
		// Заголовок
		span.toolbar__label.fs-title {{title}}
		// Правое меню
		div.toolbar__right(ng-if="disableEdit")
			a.btn.btn--l.btn--black.btn--icon(lx-ripple="", href="#/edit{{item.groupId}}")
				i.mdi.mdi--edit
		div.toolbar__right(ng-if="!disableEdit")
			a.btn.btn--l.btn--black.btn--icon(lx-ripple="", href="#/view{{item.groupId}}")
				i.mdi.mdi--remove-red-eye
// ТАБЫ
lx-tabs
	lx-tab(heading="Инфо")
		form.p
			lx-file-input(label="Выбрать файл", change="upload(e)")
			lx-text-field(label="Название группы", ng-disabled="disableEdit", ng-required="true")
				input(type="text", ng-model="item.groupName", ng-disabled="disableEdit", ng-required="true")
			lx-text-field(label="Псевдоник группы")
				input(type="text", ng-model="item.groupShortName", ng-disabled="disableEdit", ng-required="true")
			lx-text-field(label="Описание группы", type="area", model="item.groupInfo", ng-disabled="disableEdit", ng-required="true")
				textarea(ng-model="item.groupInfo")
			button(class="btn btn--m btn--raised bgc-indigo-500 tc-black", lx-ripple="purple-500", ng-submit="", ng-click="modifyGroup(item)") {{finishButton}}
	lx-tab(heading="Участники")
		p.p Lorem Ipsum Content 2
	lx-tab(heading='Точки')
		p.p Lorem Ipsum Content 3
	lx-tab(heading="Рабочие места")
		p.p Lorem Ipsum Content 3
	lx-tab(heading="Кандидаты")
		p.p Lorem Ipsum Content 3