// Шапка
div.card.bgc-indigo-500
	div.toolbar
		// Левое меню
		div.toolbar__left
			a.btn.btn--l.btn--black.btn--icon(lx-ripple="", href="#/")
				i.mdi.mdi--chevron-left
		// Заголовок
		span.toolbar__label.fs-title {{title}}
		// Правое меню
		//div.toolbar__right
		//	a.btn.btn--l.btn--black.btn--icon(lx-ripple="")
// ТАБЫ
lx-tabs
	lx-tab(heading="Инфо")
		p.p
			lx-file-input(label="Выбрать файл", change="upload(e)")
			lx-text-field(label="Название группы")
				input(type="text", ng-model="item.groupName")
			lx-text-field(label="Псевдоник группы")
				input(type="text", ng-model="item.groupShortName")
			lx-text-field(label="Описание группы", type="area", model="item.groupInfo")
				textarea(ng-model="item.groupInfo")
			button(class="btn btn--m btn--raised bgc-indigo-500 tc-black", lx-ripple="purple-500", ng-click="createGroup(item)") Создать!
	lx-tab(heading="Участники")
		p.p Lorem Ipsum Content 2
	lx-tab(heading='Точки')
		p.p Lorem Ipsum Content 3
	lx-tab(heading="Рабочие места")
		p.p Lorem Ipsum Content 3
	lx-tab(heading="Кандидаты")
		p.p Lorem Ipsum Content 3

//Модальное окошко
//div#modal.dialog.dialog--l(lx-dialog="")
//	div.dialog__header.bgc-indigo-500
//		div.toolbar: strong.toolbar__label.tc-white Загрузка
//	div.dialog__content.p: div Группа будет заблокирована и удалена спустия некоторый промежуток времени, в количсетсве дней равное семи
//	div.dialog__actions
//		a.btn.btn--m.btn--black.btn--flat(lx-ripple="" lx-dialog-close="") Отмена
//		a.btn.btn--m.btn--red.btn--flat(lx-ripple="" lx-dialog-close="", ng-click="deleteGroup()") ОК