#float_right ui li {
    float: left;
}



.wsUnit {
    /*width: 100px!important;
    *//*height: 120px!important;*/
    display: inline-block;
    float: left!important;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}
.wsUnit img {
    width: 100px;
}
.wsIframe {
    width: 100%;
    height: 100%;
    overflow: hidden ; /* Добавляем полосы прокрутки */
}
.wsIframe iframe {
    width: 100%;
    height: 100%;
    border: none;
}