
html, body { height: 100%; }

div.menuuploading-container {
    width: 100%;
    height: 100%;
}

div.menuuploading-container-div-item {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: #808080;
}

table.menuuploading-container-table-title {
    width: 100%;
    color: #ffffff;
    background-color: lightgrey;
    align-content: center;
}

table.menuuploading-container-table-title td {
    text-align: center;
    border: 1px solid black;
    width: 50%;
}

table.menuuploading-container-table-title td.menuuploading-container-table-title-active {
    background-color: #808080;
}

table#menuuploading-categories-list-table {
    border: 1px solid black;
}

table.menuuploading-container-table-title td:hover {
    cursor: default;
}

table#menuuploading-categories-list-table h5 {
    color: white;
    font-size: 20px;
}

fieldset.menuuploading-fieldset {
    border: 1px solid black;
    background-color: #aaaaaa;
    width: 50%;
}

fieldset.menuuploading-fieldset textarea {
    width: 180px;
}

fieldset.menuuploading-fieldset input {
    width: 180px;
}

fieldset.menuuploading-fieldset select {
    width: 180px;
}